* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    width: 135px;
    height: 44px;
    /* border: 1px solid wheat; */
    border-radius: 30px;
    color: white;
    background: linear-gradient( to top right, #facc15, #fb7185,  #d946ef, #7c3aed );
    margin-top: auto;
    margin-bottom: auto;
    padding: 5px;
}
.navbar{
    background-color:#1A0B2E ;
    display: flex;
    justify-content: space-between;
    padding: 16px 200px; 
    width:100%;
    height: 92px;
}
.navbar-item{
    color: white;
    display: flex;
    align-items: center;
}
.navbar-item li{
  margin-right: 32px;
}
.logo-col{
     background: linear-gradient(to right top, #f4cb25, #b7185f, #7b35f5);
  -webkit-background-clip: text;
  color: transparent;
}
.menu-icon{
    display: none;
}

.hero{
    background-image: url(../assets/hero-bg.png);
    width: 100%;
    height: 760px;
    background-repeat: no-repeat;
  /* background-position: center; */
    background-size: cover; 
    display: flex;
    gap: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white; 
}


.hero-circle{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    color: white;
    border: 8px solid #2a186c;
    background: linear-gradient( to top right, #facc15, #fb7185,  #d946ef, #7c3aed );
    margin-top: auto;
    margin-bottom: 40px;
    margin-left:auto ;
    padding-left: 115px;
    position: relative;
    left:80px;
    bottom: 28px;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation:spin 15s linear 0s infinite;
    
}
.hero-circle:hover {
  transform: translateY(-3px) scale(1.03);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

.hero-circle img {
  position: relative;
  z-index: 1;
  
}


.hero-item{
    margin-left:100px;
}
.spotify{
    display: flex;
    justify-content: center;
    gap:8px
}
.btn-spotify{
    width: 201px;
    height: 44px;
    /* border: 1px solid wheat; */
    border-radius: 30px;
    color: white;
    background: linear-gradient( to top right, #facc15, #fb7185,  #d946ef, #7c3aed );
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    padding: 6px;
    padding-top: 9px;
    font-size: 16px;
    display: flex;
    gap: 8px;
    justify-content:center;
}
.btn-spotify img {
    width: 20px;
    height: 20px;
    margin: 5px;
}
.btn-subscrive img{
    width: 22px;
    height: 18px;
    margin: 5px;
}
.btn-subscrive{
    width: 147px;
    height: 44px;
    border: 2px solid #00FF88;
    border-radius: 30px;
    color: #00FF88;
    display: flex;
    justify-content: center;
    padding: 6px;
    gap: 8px;
}
.btn-new{
    width: 75px;
    height: 38px;
    background-color: #00FF88;
    border-radius: 30px;
    color: black;
    padding: 4px 16px;
    position: relative;
    bottom:330px;
    right: 10px;
}
.about-number{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
}
.about{

    height: 646px;
    padding-right: 200px;
    padding-top: 50px;
    padding-left: 200px;
    text-align: center;
    background-color: #1A0B2E;
}
.about-text, .about-section p{
    color: white;
}
.choose{
     width: 100%;
     height:1121px;
     background-color: #230e38;
     padding-left:200px ;
     padding-right:200px ;
     padding-top: 200px;
     justify-items: center;
}
.choose-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
     margin-top:40px ;
     gap: 35px;

    
}
.choose-box{
    /* border: 1px solid wheat; */
    background-color:#351165 ;
    border-radius: 40px;
    padding: 40px;
}
.two-row{
    grid-column: span 2;
}
.two-column{
    grid-row: span 2;
}

.feature{
    width: 100%;
    height: 1300px;
    background-color: #1A0B2E;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 90px; 
}
.feature-episode{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 40px;
    gap: 30px;
}
.episude-box{
    width: 300px;
    height: 420px;
    border-radius: 15px;
    background-color: #250D44;
    /* border: 1px solid white; */
}
.episude-box iframe{
    width: 300px;
    height: 168px;
    border-radius: 15px;
}
.son{
    margin: 24px;
    gap: 12px;
}
.son .tope img{
    width: 20px;
    height:20px;
    margin-top:5px ;
    margin-right: 3px;
    
}
.meet{

    margin-top: 120px;
    margin-left: 0px;
    margin-right: 0px;
}
.meet-box{
    width: 100%;
    height: 280px;
    padding: 40px;
    display: flex;
    border-radius: 30px;
    gap: 24px;
    margin-top: 40px;
    background-color: #250D44;
}
.meet-box .rrr{
    width: 200px;
    height: 200px;
}
.div-img ul 
{
    display:flex;
    gap:8px;
    
}
.div-img ul li{
    border: 1px solid #533C72;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}
.meet-text{
    gap: 40px;
}
footer{
    background-image: url(../assets/footer-bg.png); 
    width: 100%;
    height: 412px;
    margin-top: 0px;
    padding: 120px;
}
.footer-contant{
     justify-content: center;
     align-items: center;
     justify-items: center;
    

}
.sponsor{
    display: flex;
    gap: 30px;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 32px;

}
.sponsor li{
   display: flex;
   gap: 10px;
}
.sponsor li img{
    width: 24px;
    height: 24px;
}
@media screen and (max-width:576px){
     .navbar-item , .btn{
        display: none;
    }
    .navbar{
        align-items: flex-start;
        padding: 16px;
    }
    .menu-icon{
        display:block
    }
     .hero {
    padding: 20px;
    background-position: top;
  }
  .hero{
    background-image:url(../assets/hero-bg.png) ;
    height: 760px;

  }
  .hero-circle{
    left: 75px;
    top: 10px;
    padding-right: 90px;
    margin-right:70px ;

  }
  .hero-item{
    margin-right: 50px;
  }
  .btn-new{
    position: relative;
    right: 110px;
    bottom: 300px;
  }
  .about{
    padding:7px;
  }
  .about-number{
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
    column-gap: 40px;
  }
  .choose{
     padding-left:5px ;
     padding-right:5px ;
     padding-top: 120px;
     height: 1530px;
  }
  .choose-container{
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
  }
  .feature-episode{
    grid-template-columns: repeat(1 , 1fr);
    margin-left: 0px;
    padding-left: 60px;
    
  
  }
  .feature{
    margin-left: 0px ;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    height: 2900px;
  }
  .meet-box{
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 600px;
  }
  .div-img ul{
      margin-left: 110px;
  }
   .sponsor{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   }
   footer{
    background-image: url(../assets/footer-bg.png);
    width: 100%;

   }
   .footer-contant{
    margin: 0px;
    margin-bottom: 50px;
    padding: 0px;
   }
   .footer-contant p{
    font-size: 11px;
   }
}
@keyframes spin{
  from{
    transform:rotate(0deg);
  }
  to{
    transform:rotate(360deg);
  }
}
 